pipeline/ASA PIPELINE.json
{
	"name": "ASA PIPELINE",
	"properties": {
		"activities": [
			{
				"name": "VUS_SDE_GROUP_ASA",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_ASA",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SIL_GROUP_ASA",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL_GROUP_ASA 01",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SEND ERROR MESSAGE VUS_SDE_GROUP_ASA",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_ASA').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESSAGE VUS_SIL_GROUP_ASA",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SIL_GROUP_ASA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SIL_GROUP_ASA').Error.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "VUS MASTER"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-10T04:19:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}