pipeline/VUS_PLP_GROUP_LS01.json
{
	"name": "VUS_PLP_GROUP_LS01",
	"properties": {
		"activities": [
			{
				"name": "Lookup_SRC_List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "-- select \n--     [JOB_SCRIPT] as Source_Script,\n--     [JOB_SCRIPT] +  ' @FromDateCal = ''' as Source_Script_01,\n--     CAST(FORMAT(EOMONTH(GETDATE(),-4),'yyyyMMdd') as Varchar(10)) as Parameter_FromDateCal,\n--     ''', @InsertDateTime = ''' as Source_Script_02,\n--     CAST(FORMAT(GETDATE(),'yyyy-MM-dd HH:mm') AS Varchar(16)) as Parameter_InsertDateTime,\n--     [SOURCE_SCHEMA] AS SRC_Schema,\n--     [SOURCE_TABLE] AS SRC_Table, \n--     [TARGET_SCHEMA] AS TGT_Schema, \n--     [TARGET_TABLE] AS TGT_Table \n-- FROM [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' AND JOB_GROUP ='LS' AND JOB_SUB_GROUP ='LS_01'\n\n\nselect \n    [JOB_SCRIPT] as Source_Script,\n    --CAST(format(eomonth(GETDATE(),-4),'yyyyMMdd') as NVARCHAR(10)) as Parameter_FromDate,\n    [SOURCE_SCHEMA] AS SRC_Schema,\n    [SOURCE_TABLE] AS SRC_Table, \n    [TARGET_SCHEMA] AS TGT_Schema, \n    [TARGET_TABLE] AS TGT_Table \nFROM [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' AND JOB_GROUP ='LS' AND JOB_SUB_GROUP ='LS_01'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DWH_SYNAPSE_ADF",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "ETL_JOB"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_SRC_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_SRC_List').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set TGT Table",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_Table",
								"value": {
									"value": "@{Item().TGT_Table}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get JOB_ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set TGT Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_DWH_SYNAPSE_ADF",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "AAA"
									}
								}
							}
						},
						{
							"name": "Set Source Script",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Parameter_FromDateCal",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Source_Script",
								"value": {
									"value": "@{Item().Source_Script}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set SRC Table",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_Schema",
								"value": {
									"value": "@{Item().SRC_Table}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Insert Log Before Load Data",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Set Source Script",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Get JOB_ID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set SRC Table",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set SRC Schema",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Parameter_InsertDateTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": "",
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "@concat('Start load table ',variables('TGT_Table'))",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_DWH_SYNAPSE_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Insert Log Before Load Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "@variables('Source_Script')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "LS_STORAGE_ACCOUNT_DEV",
										"type": "LinkedServiceReference"
									},
									"path": "logadf",
									"enableCompression": true
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_DWH_SYNAPSE",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "@variables('SRC_Table')"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Live_Source",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": "@variables('TGT_Table')"
									}
								}
							]
						},
						{
							"name": "Set SRC Schema",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TGT_Table",
								"value": {
									"value": "@{Item().SRC_SCHEMA}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SEND ERROR MESSAGE",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Set TGT Table",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Get JOB_ID",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Set Source Script",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Set SRC Table",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Set SRC Schema",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Insert Log Before Load Data",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "SP_Delete_OldData_3Month",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Set Parameter_FromDateCal",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Set Parameter_InsertDateTime",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SEND ERROR EMAIL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ErrorMessage": {
										"value": "@item().Error.message",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "SP_Delete_OldData_3Month",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Failed",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "dbo.proc_DWHADF_Delete_OldData_3Month",
								"storedProcedureParameters": {
									"Table": {
										"value": {
											"value": "@variables('TGT_Table')",
											"type": "Expression"
										},
										"type": "String"
									},
									"FromDateCal": {
										"value": {
											"value": "@variables('Parameter_FromDateCal')",
											"type": "Expression"
										},
										"type": "String"
									},
									"InsertDateTime": {
										"value": {
											"value": "@variables('Parameter_InsertDateTime')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SERVER14",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set Parameter_FromDateCal",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Parameter_FromDateCal",
								"value": {
									"value": "@{Item().Parameter_FromDateCal}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Parameter_InsertDateTime",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Parameter_InsertDateTime",
								"value": {
									"value": "@{Item().Parameter_InsertDateTime}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup_SRC_List",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('Lookup_SRC_List').Error.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "19000101"
			}
		},
		"variables": {
			"Source_Script": {
				"type": "String"
			},
			"SRC_Schema": {
				"type": "String"
			},
			"SRC_Table": {
				"type": "String"
			},
			"TGT_Table": {
				"type": "String"
			},
			"Parameter_FromDateCal": {
				"type": "String"
			},
			"Parameter_InsertDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "VUS_ETL"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-29T09:55:37Z",
		"lastUpdateUtc": "2023-02-17T15:11:05Z",
		"createTimeUtc": "2023-02-10T04:19:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}