pipeline/VUS_PLP_GROUP_LS02.json
{
	"name": "VUS_PLP_GROUP_LS02",
	"properties": {
		"activities": [
			{
				"name": "Lookup_SRC_List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select \n    [JOB_SCRIPT] as SRC_Script,\n    [JOB_SCRIPT] +  ' @FromDateCal = ''' as SRC_Script_01,\n    CAST(format(eomonth(GETDATE(),-4),'yyyyMMdd') as NVARCHAR(10)) as Prm_FromDateCal,\n    --'20220101' as Prm_FromDateCal,\n    --'19000101' as Prm_FromDateCal,\n    ''', @InsertDateTime = ''' as SRC_Script_02,\n    CAST(FORMAT(GETDATE(),'yyyy-MM-dd HH:mm') AS Varchar(16)) as Prm_InsertDateTime,\n    -- [SOURCE_SCHEMA] AS SRC_Schema,\n    [SOURCE_TABLE] AS SRC_Table, \n    -- [TARGET_SCHEMA] AS TGT_Schema, \n    [TARGET_TABLE] AS TGT_Table \nFROM [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' AND JOB_GROUP ='LS' AND JOB_SUB_GROUP ='LS_02'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DWH_SYNAPSE_ADF",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "ETL_JOB"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_SRC_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_SRC_List').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set TGT Table",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TGT_Table",
								"value": {
									"value": "@{Item().TGT_Table}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get JOB_ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set TGT Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_DWH_SYNAPSE_ADF",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "AAA"
									}
								}
							}
						},
						{
							"name": "Set SRC Script",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Parameter FromDateCal",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Parameter InsertDateTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_Script",
								"value": {
									"value": "@concat(Item().SRC_Script_01,variables('Prm_FromDateCal'),Item().SRC_Script_02,variables('Prm_InsertDateTime'),'''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Parameter FromDateCal",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Prm_FromDateCal",
								"value": {
									"value": "@{Item().Prm_FromDateCal}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Insert Log Before Load Data",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set SRC Script",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Get JOB_ID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set SRC Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": "",
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "@concat('Start load table ',variables('TGT_Table'))",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_DWH_SYNAPSE_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Insert Log Before Load Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "@variables('SRC_Script')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "LS_STORAGE_ACCOUNT_DEV",
										"type": "LinkedServiceReference"
									},
									"path": "logadf",
									"enableCompression": true
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_DWH_SYNAPSE",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "@variables('SRC_Table')"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Live_Source",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": "@variables('TGT_Table')"
									}
								}
							]
						},
						{
							"name": "Set Parameter InsertDateTime",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Prm_InsertDateTime",
								"value": {
									"value": "@{Item().Prm_InsertDateTime}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SEND ERROR MESSAGE",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set TGT Table",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Get JOB_ID",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Set SRC Script",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Insert Log Before Load Data",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Set SRC Table",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "SP_Delete_OldData_3Month",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SEND ERROR EMAIL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ErrorMessage": {
										"value": "@item().Error.message",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set SRC Table",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_Table",
								"value": {
									"value": "@{Item().SRC_Table}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SP_Delete_OldData_3Month",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "dbo.proc_DWHADF_Delete_OldData_3Month",
								"storedProcedureParameters": {
									"Table": {
										"value": {
											"value": "@variables('TGT_Table')",
											"type": "Expression"
										},
										"type": "String"
									},
									"FromDateCal": {
										"value": {
											"value": "@variables('Prm_FromDateCal')",
											"type": "Expression"
										},
										"type": "String"
									},
									"InsertDateTime": {
										"value": {
											"value": "@variables('Prm_InsertDateTime')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LIVE_SOURCE",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_SRC_List",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('Lookup_SRC_List').Error.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "19000101"
			}
		},
		"variables": {
			"SOURCE": {
				"type": "String"
			},
			"SRC_Script": {
				"type": "String"
			},
			"SRC_Table": {
				"type": "String"
			},
			"TGT_Table": {
				"type": "String"
			},
			"Prm_FromDateCal": {
				"type": "String"
			},
			"Prm_InsertDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "VUS_ETL"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-29T09:55:37Z",
		"lastUpdateUtc": "2023-02-17T15:11:05Z",
		"createTimeUtc": "2023-02-10T04:19:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}