pipeline/VUS_SDE_ASA_SALE.json
{
	"name": "VUS_SDE_ASA_SALE",
	"properties": {
		"activities": [
			{
				"name": "SEND ERROR MESAGE SDE GROUP ASA 02",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA_SALE_02",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_ASA_SALE_02').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SDE GROUP ASA 01",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA_SALE_01",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_ASA_SALE_01').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SDE GROUP ASA_03",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA_SALE_03",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_ASA_SALE_03').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "VUS_SDE_GROUP_ASA_SALE_02",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_ASA_SALE_02",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SDE_GROUP_ASA_SALE_03",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA_SALE_02",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_ASA_SALE_03",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SDE_GROUP_ASA_SALE_01",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_ASA_SALE_01",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SDE_GROUP_CRM_SALE",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA_SALE_01",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_CRM_SALE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SEND ERROR MESAGE VUS_SDE_GROUP_CRM_SALE",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_CRM_SALE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_CRM_SALE').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE VUS_SDE_GROUP_CORE_EDU_SALE",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA_CORE_EDU_SALE_V2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_ASA_CORE_EDU_SALE_V2').Error.message\n",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "VUS_SDE_GROUP_ASA_CORE_EDU_SALE_V2",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_ASA_CORE_EDU_DF_SALE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "VUS_ETL"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-15T06:35:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}