pipeline/VUS_PIPELINE_DATAFLOW.json
{
	"name": "VUS_PIPELINE_DATAFLOW",
	"properties": {
		"activities": [
			{
				"name": "Get JOB_ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',pipeline().parameters.TGT_Table,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DWH_SYNAPSE_ADF",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TGT_Table",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Insert Log Before Load Data",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get JOB_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADF].[proc_etl_log_message]",
					"storedProcedureParameters": {
						"p_batch_id": {
							"value": {
								"value": "@pipeline().parameters.BATCH_ID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"p_error_code": {
							"value": "",
							"type": "String"
						},
						"p_error_message": {
							"value": "",
							"type": "String"
						},
						"p_job_id": {
							"value": {
								"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"p_log_message": {
							"value": {
								"value": "@concat('Start load table ',pipeline().parameters.TGT_Table)",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_log_status": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DWH_SYNAPSE_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Insert Log Load Finish Data",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Data Core Edu",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADF].[proc_etl_log_message]",
					"storedProcedureParameters": {
						"p_batch_id": {
							"value": {
								"value": "@pipeline().parameters.BATCH_ID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"p_error_code": {
							"value": "",
							"type": "String"
						},
						"p_error_message": {
							"value": "",
							"type": "String"
						},
						"p_job_id": {
							"value": {
								"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"p_log_message": {
							"value": {
								"value": "@concat('Finished load table ',pipeline().parameters.TGT_Table)",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_log_status": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DWH_SYNAPSE_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Insert Log Load Fail Data",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Data Core Edu",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADF].[proc_etl_log_message]",
					"storedProcedureParameters": {
						"p_batch_id": {
							"value": {
								"value": "@pipeline().parameters.BATCH_ID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"p_error_code": {
							"value": "",
							"type": "String"
						},
						"p_error_message": {
							"value": "",
							"type": "String"
						},
						"p_job_id": {
							"value": {
								"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"p_log_message": {
							"value": {
								"value": "@concat('Load fail table ',pipeline().parameters.TGT_Table)",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_log_status": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DWH_SYNAPSE_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SEND ERROR MESSAGE",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get JOB_ID",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Insert Log Before Load Data",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Insert Log Load Finish Data",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Insert Log Load Fail Data",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Data Core Edu",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Get Max Date",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Data Core Edu",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Insert Log Before Load Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Max Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "LOAD DATA CORE EDU",
						"type": "DataFlowReference",
						"parameters": {
							"JOB_SCRIPT": {
								"value": "'@{pipeline().parameters.Source_Script}'",
								"type": "Expression"
							},
							"TARGET_TABLE2": {
								"value": "'@{pipeline().parameters.TGT_Table}'",
								"type": "Expression"
							},
							"MAX_DATE": {
								"value": "'@{activity('Get Max Date').output.firstRow.modifiedon}'",
								"type": "Expression"
							},
							"INTEGRATION_COL": {
								"value": "'@{pipeline().parameters.INTEGRATION_COL}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"OutputTest": {
								"TableName": {
									"value": "@pipeline().parameters.TGT_Table",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "LS_STORAGE_ACCOUNT_PROD",
							"type": "LinkedServiceReference"
						},
						"folderPath": "model/LeadFolder"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"runConcurrently": true,
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Get Max Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT ISNULL(dt.modifiedon,''1900-01-01'') as modifiedon from ( SELECT max(cast(left(modifiedon,19) as datetime)) as modifiedon FROM FND.',pipeline().parameters.TGT_Table,' ) as dt')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DWH_SYNAPSE_ADF",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TGT_Table",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"TGT_Table": {
				"type": "string",
				"defaultValue": "'AAA'"
			},
			"Source_Script": {
				"type": "string",
				"defaultValue": "'AAA'"
			},
			"SRC_Table": {
				"type": "string"
			},
			"SRC_Schema": {
				"type": "string"
			},
			"BATCH_ID": {
				"type": "string"
			},
			"INTEGRATION_COL": {
				"type": "string"
			}
		},
		"folder": {
			"name": "VUS_COMMONS"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-14T09:29:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}