pipeline/VUS_SIL_ASA_SALE.json
{
	"name": "VUS_SIL_ASA_SALE",
	"properties": {
		"activities": [
			{
				"name": "VUS_SIL_GROUP_ASA_SALE_01",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL_GROUP_ASA_SALE_01",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SIL_GROUP_ASA_SALE_02",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL_GROUP_ASA_SALE_02",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SIL_GROUP_ASA_SALE_03",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL_GROUP_ASA_SALE_03",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SEND ERROR MESAGE SIL GROUP ASA 01",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SIL_GROUP_ASA_SALE_01",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SIL_GROUP_ASA_SALE_01').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SIL GROUP ASA 02",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SIL_GROUP_ASA_SALE_02",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SIL_GROUP_ASA_SALE_02').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SIL GROUP ASA 03",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SIL_GROUP_ASA_SALE_03",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SIL_GROUP_ASA_SALE_03').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "VUS_SIL_GROUP_CRM_SALE",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL_GROUP_CRM_SALE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SEND ERROR MESAGE VUS_SIL_GROUP_CRM_SALE",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SIL_GROUP_CRM_SALE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SIL_GROUP_CRM_SALE').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "VUS_SIL_GROUP_CORE_EDU_SALE",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL_GROUP_CORE_EDU_SALE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SEND ERROR MESAGE VUS_SIL_CORE_EDU_SLAE",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SIL_GROUP_CORE_EDU_SALE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SIL_GROUP_CORE_EDU_SALE').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "19000101"
			}
		},
		"folder": {
			"name": "VUS_ETL"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-15T06:35:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}