pipeline/VUS_PLP_GROUP_04.json
{
	"name": "VUS_PLP_GROUP_04",
	"properties": {
		"activities": [
			{
				"name": "Lookup SRC List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT [JOB_SCRIPT] AS [SRC_LIST], [SOURCE_TABLE] AS [SRC_TBL], [TARGET_TABLE] AS [TGT_TBL],\n        DATEADD(DAY, 1, EOMONTH(GETDATE(),-1)) AS UPDATE_FROM\nFROM [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' AND JOB_GROUP='PLP'\nAND JOB_SUB_GROUP='PLP - G04'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DWH_SYNAPSE_STAGING",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "ADF.ETL_JOB"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup SRC List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup SRC List').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Source Script",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Source_Script_G4",
								"value": {
									"value": "@{Item().SRC_LIST}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SIL Store Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set Target Table",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Update From",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@variables('Source_Script_G4')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_update_from": {
										"value": {
											"value": "@pipeline().parameters.UPDATE_FROM",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_DWH_SYNAPSE_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set Target Table",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Source Script",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Target_Table_G4",
								"value": {
									"value": "@{Item().TGT_TBL}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SEND ERROR MESSAGE",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set Source Script",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Set Target Table",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "SIL Store Procedure",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Set Update From",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SEND ERROR EMAIL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ErrorMessage": {
										"value": "@item().Error.message",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set Update From",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Target_Table_G4",
								"value": {
									"value": "@{Item().UPDATE_FROM}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup SRC List",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('Lookup SRC List').Error.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "19000101"
			},
			"UPDATE_FROM": {
				"type": "string"
			}
		},
		"variables": {
			"Source_Script_G4": {
				"type": "String"
			},
			"Target_Table_G4": {
				"type": "String"
			}
		},
		"folder": {
			"name": "VUS_ETL"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-02T08:52:36Z",
		"lastUpdateUtc": "2022-12-19T05:30:05Z",
		"createTimeUtc": "2022-07-30T10:41:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}